html, body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(-45deg, #1B3F34, #508843, #2E6141, #328B9C, #fff);
  background-attachment: fixed;
  
}

.container-objetivos {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.objetivos{
  width: 100%;
  height: 200px; /* Define a altura fixa para a div */
  display: flex; /* Usado para centralizar o conteúdo */
  z-index: 102; /* Certifique-se de que o z-index da div seja maior que o do fundo */
  position: relative; /* Isso ajuda no controle do posicionamento */
  background: transparent; /* Mantém o fundo transparente para ver o gradiente de fundo */
  margin-right: 30px;
  margin-left: 35px;
  color: #fff;
}
.text-container {
  z-index: 100;
  width: 100vw; /* 100% da largura da tela */
  height: 100vh; /* 100% da altura da tela */
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
}

.nav-link, .nav-link .active {
  color: white !important;
}

.navbar-brand {
  color: white;
}

.frase{
  height: 600px; /* Define a altura fixa para a div */
  display: flex; /* Usado para centralizar o conteúdo */
  justify-content: center; /* Alinha o conteúdo horizontalmente */
  align-items: center; /* Alinha o conteúdo verticalmente */
  z-index: 102; /* Certifique-se de que o z-index da div seja maior que o do fundo */
  position: relative; /* Isso ajuda no controle do posicionamento */
  margin-top: 400px; /* Mover a div mais para baixo */
  background: transparent; /* Mantém o fundo transparente para ver o gradiente de fundo */
  padding: 20px;
  color: #ffffff;
}
h5.objetivo {
  margin-top: 40px; /* Ajuste o valor para o espaçamento desejado do topo */
  padding: 10px; /* Mantém o padding conforme solicitado */
  margin-left: 0; /* Remover qualquer margem à esquerda, para ficar na borda esquerda */
  margin-right: 0; /* Remover qualquer margem à direita */
  position: absolute; /* Permite um controle mais preciso sobre o posicionamento */
  left: 0; /* Posiciona o elemento na borda esquerda da tela */
  right: 0;
  top: 10px; /* Ajusta a distância da parte superior */
  font-size: 20px; /* Ajuste o tamanho da fonte conforme necessário */
  color: white; /* Cor do texto */
}

a{
  text-decoration: none;
}

.estrutura {
  text-align: center;
  padding: 20px;
  color: #fff;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px; /* Espaço entre o título e as imagens */
}

.imagens {
  display: flex;
  justify-content: space-around; /* Distribui as imagens igualmente */
  gap: 20px; /* Espaço entre as imagens */
}

.imagem img {
  width: 100%;
  max-width: 300px; 
  height: auto;
  border-radius: 8px; 
}

.container-professores{
  text-align: center;
  padding: 20px;
  color: #fff;
  margin-top: 70px;

}

.container-professores .imagem {
  display: inline-block; /* Faz com que as imagens fiquem lado a lado */
  margin: 10px; /* Espaçamento entre as imagens */
}

.container-professores .imagem img {
  width: 150px; /* Defina o tamanho das imagens conforme necessário */
  height: auto;
  border-radius: 8px; /* Optional: arredonda as bordas das imagens */
}

.container-professores .imagem b {
  display: block;
  margin-top: 5px; /* Espaço entre a imagem e o nome */
  font-size: 16px; /* Tamanho da fonte do nome */
  font-weight: normal;
}

.container-objetivos {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.container-turmas h1 {
  text-align: center; /* Centraliza o título */
  width: 100%; /* Garante que o título ocupe toda a largura do contêiner */
  margin-bottom: 30px; /* Espaçamento abaixo do título */
  font-size: 2.5em; /* Tamanho do título */
  color: #fff;
  margin: 10px;
  margin-top: 70px;
  
}

.container-turmas {
  text-align: center; /* Centraliza os itens dentro do contêiner */
}

.col{
  margin-left: px;
  min-height: 350px; /* Ajuste conforme necessário para garantir que os cards não fiquem muito pequenos */
}


.card {
  height: 100%; /* Faz com que o card ocupe toda a altura da coluna */
  display: flex;
  flex-direction: column; /* Alinha o conteúdo dentro do card de cima para baixo */
  margin: 30px ;
  margin-left: 45px;
}

.card-body {
  flex-grow: 1; /* Faz com que a área do corpo do card se expanda para preencher o espaço disponível */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Isso distribui o conteúdo dentro do card de forma uniforme */
}


.card-img-top {
  height: 200px; /* Ajuste a altura da imagem conforme necessário */
  object-fit: cover; /* Garante que a imagem cubra o espaço sem distorção */
}
.efeito-frase, .efeito-objetivos, .efeito-estrutura, .efeito-turmas1, .efeito-turmas2, .efeitos-turmas3{
  visibility: hidden;
}

a.nav-link.active{
  color: #fff !important;
  font-weight: bolder;
}
p.fim{
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  font-weight: bolder;
  
}
span{
  color: #52e232;
  font-weight: bolder;
  margin-left: 10PX;
}

p.fim-redes{
  text-align: center;
  font-size: 30px;
}
p.contatos{
  text-align: center;
  font-size: 20px;
}
i{
  font-size: 30px;
  color: #52e232;
  text-align: center;
  margin-left: 40px;
}

.img-fluid{
  width: 200px;
}
.navbar .nav-link{
  color: black !important;
}

.navbar .nav-link.active {
  color: black !important;
}

.container-objetivos img {
  width: 500px;
  max-width: 100%;
}